/* styles.css */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #faf9d7; /*Cream colour to complement green header and footer*/
  margin: 16px;
}

h1 {
  color: #333;
  text-align: center;
}

h1 {
    font-family: 'Salsa', cursive;
    color: #333;
    text-align: center;
    font-size: 50px;
  }
  

#vis1, #vis2 {
  margin-top: 40px;
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #fff;
}
.salsa-regular {
    font-family: "Salsa", cursive;
    font-weight: 400;
    font-style: normal;
  }

/* Padding on all sides */
.content {
  padding: 20px; /* Adds 20px padding to the top, right, bottom, and left */
  background-color: lightgray;
}

/* Padding can also be set for individual sides */
.content {
  padding-top: 10px;    /* 10px padding on the top */
  padding-right: 15px;  /* 15px padding on the right */
  padding-bottom: 20px; /* 20px padding on the bottom */
  padding-left: 25px;   /* 25px padding on the left */
}

  
